.article_container .panel-body {
    padding: 0px 20px;
    border: none;
}

.article_image {
    height: 50px;
    width: 75px;
}

.publish_button {
    background: #223e92 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 15px;
    color: #fff;
    font-size: 13px;
    height: 25px;
    margin-top: 0;
    width: 80px;
    border: none;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 0px 0px 0px;
}

.unpublish_button {
    background: #ff0000;
    border: 1px solid #fff;
    color: #000;
    height: 33px;
    width: 80px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article_container .panel-heading h2 {
    width: auto;
}

.canvas_videothumbnail {
    display: none;
}

.tagsinput{
    border: 1px solid #bdc3d1 !important;
}

.tagsinput div input {
    border: none !important;
    outline: none !important;
}

.tag-remove:focus {
    outline: none !important;
}

.tagsinput .tag{
    background: #e4e7ec !important;
    color: #3b4354 !important;
}
.ui-autocomplete{
    width: 325px !important;
}

