/**
  Home page css
*/
@font-face {
    font-family: 'BaskervilleEF';
    src: url('fonts/BaskervilleEF-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'rockwellstd';
    src: url('fonts/rockwellstd.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: OpenSans;
    background: #27180e;
}

html, body {
    overflow-x: hidden;
}

:focus{
    outline: none !important;
}

:focus-visible{
    outline: none !important;
}

.opensans_font_family {
    font-family: OpenSans;
}

.baskervilleEF_font {
    font-family: "BaskervilleEF";
}

.rockwellstd_font {
    font-family: "rockwellstd";
}

a {
    color: #27180e;
}

a:hover, a:focus, a:active {
    color: #27180e;
}

.color_27180e {
    color: #27180e;
}

.letter_spacing_0_1 {
    letter-spacing: 0.1em;
}

.letter_spacing_0_2 {
    letter-spacing: 0.2em;
}

button {
    padding: 1rem;
    background: #27180e;
    color: #e6dfc0;
    font-family: "rockwellstd";
    border: none;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0.1rem;
}

button:hover:enabled, button:focus:enabled, button:active:enabled {
    color: white;
    background: #4c361e;    
}

#content_container{
    background: #e6dfc0;
    background-image: url('../images/bg.jpg');
    background-repeat: repeat-y;
    background-position: 100% 100%;
}

#description img {
    max-width: 100% !important;
    height: auto !important;
    padding-top:1.5rem;
    padding-bottom: 0.8rem;
}

#description strong{
    font-family: "BaskervilleEF";   
    color: #27180e;
    text-transform: uppercase;
    font-size: 1rem;
}

.description_title{
    color: #27180e;
    font-family: "BaskervilleEF";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem 0rem 0.5rem 0rem;
}

.description_image_title{
    color: #27180e;
    font-family: "BaskervilleEF";        
    font-size: 1rem;  
    padding-bottom: 0.5rem;  
    text-align: center;
}

#outer_div {
    background: url("../images/side_left.jpg"), url("../images/side_right.jpg");
    background-color: #201008;
    background-position: top left, top right;
    background-repeat: no-repeat;
    min-height: 100%;
}

.w-45 {
    width: 45%;
}

.bg_e6dfc0 {
    background: #e6dfc0;
}

.border_top {
    border-top: 1px solid #bcbcbc;
}

.border_top_bottom {
    border-top: 1px solid #bcbcbc;
}




#header_logo {
    position: absolute;   
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    margin-right: 0;
    margin-left: 1rem;
}

#header_logo:focus-visible{
    outline: none;
}


#header_menu .navbar-nav {
    z-index: 2;
}

#header_menu {
    background-color: #27180e;
}

#header_menu .nav-link {
    color: #e6dfc0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "rockwellstd";
    letter-spacing: 0.1rem;
}


#header_menu .nav-link:hover, #header_menu .nav-link:focus, #header_menu .nav-link:active, #header_menu .nav-link.active,#header_menu .nav-link:focus-visible {
    color: white;
    outline: none;
}

#header_menu .nav-item:focus-visible{
    outline: none;
}

.navbar-toggler {
    border-color: #e6dfc0;
    z-index: 1;
}

.navbar-toggler span {
    height: auto;
}

.navbar-toggler i {
    color: #e6dfc0;
}

.dropdown-menu {
    background: rgba(39, 24, 14, 0.7);
    border-radius: 0px;
    border: none;   
    z-index: 3; 
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

@media (max-width: 991px) {
    #navbarToggle {
        position: absolute;
        top: 45px;
        background: rgba(39, 24, 14, 0.9);
        padding: 10px;
        width: 200px;
        color: #e6dfc0;
        z-index: 4;
    }
   

    .dropdown-menu {
        background: transparent;
    }
}

@media (min-width: 1204px) {
    #header_menu ul .nav-link {
        padding: 0.5rem 2rem;
    }

    .dropdown-menu {
        margin-left: 0.5rem;
        top: 2rem;        
        padding-top: 1rem;
    }

    #navbarToggle ul:first-child {
        margin-left: 6rem;
    }

    #navbarToggle ul:last-child {
        margin-right: 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1203px) {
    #navbarToggle ul:first-child {
        margin-left: 3rem;
    }

    #navbarToggle ul:last-child {
        margin-right: 0rem;
    }

    #header_menu ul .nav-link {
        padding: 0.5rem 2rem;
    }
}

.dropdown-item {
    color: #e6dfc0;
    background: none;
    text-transform: uppercase;
    font-family: rockwellstd;
    letter-spacing: 0.1rem;
}

.dropdown-item:hover,.dropdown-item:focus,.dropdown-item:focus-visible {
    background: white !important;
    color: #27180e !important;
    outline: none;
}
.dropdown-item:active,.dropdown-item.active{
    background: white !important;
    color: #27180e !important;
    outline: none;
}


.border_brown {
    border-right: 1px solid #27180e;
}

.view_more {
    background: url("../images/img_btn.png") no-repeat center center;
    height: 55px;
    background-size: contain;
    text-align: center;
    line-height: 55px;
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    margin-top: 1.5rem;
    font-family: "rockwellstd";
}

.view_more a {
    color: #e6dfc0;
    display: inline-block;
}

.view_more:hover, .view_more:focus, .view_more:active {
    background: url("../images/view_more_hover.png") no-repeat center center;
    height: 55px;
    background-size: contain;
    text-align: center;
    line-height: 55px;
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    margin-top: 1.5rem;
}

.view_more:hover > a, .view_more:focus > a, .view_more:active > a {
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1204px) {
    .view_more {
        height: 50px;
        line-height: 50px;
        font-size: 11px;
    }
    #header_logo img{
        height: 150px;
    }
}

.brown_box_outer {
    border: 2px solid #27180e;
    padding: 2px;
}

.brown_box{
    background: #27180e;
    color: #e6dfc0;
    padding: 1rem 0rem;
    text-align: center;
    word-break: break-all;
    font-size: 14px;
    font-family: "rockwellstd";
}
.brown_box a{
     color: #e6dfc0;
}
.brown_box a:hover,.brown_box a:focus,.brown_box a:active{ 
    text-decoration: none;   
     color: #ffffff;    
}

.brown_box:hover,.brown_box:focus,.brown_box:active{
    background: #4c361e;
    color: white;
}

.brown_box_outer:hover,.brown_box_outer:focus,.brown_box_outer:active {
    border: 2px solid #4c361e;
}

footer {
    font-family: OpenSans;
    color: #27180e;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.gallery {
    padding: 0rem 8rem 4rem 8rem;
}
.press {
    padding: 8rem 8rem 4rem 8rem;
}

#back_to_top {
    display: inline-block;
    background-color: rgba(39, 24, 14, 0.9);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    right: 35px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    bottom: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#back_to_top::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 50px;
    color: #e6dfc0;
}

#back_to_top.show {
    opacity: 1;
    visibility: visible;
}

#back_to_top:hover {
    background: rgb(39, 24, 14);
    text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1204px) {
    .gallery {
        padding: 0rem 5rem 2rem 5rem;
    }
    .press {
        padding: 5rem 5rem 2rem 5rem;
    }
}

.article_title, .article_title:focus, .article_title:active, .article_title:hover {
    color: #27180e;
    font-size: 14px;
}

@media (max-width: 767px) {
    .gallery {
        padding: 0rem;
    }
      .press {
            padding: 2rem 0 0 0;
        }
    #back_to_top {
        position: fixed;
        right: 10px;
        bottom: 100px;
    }

    .article_title_outer {
        float: none;
    }

    #product_carousel{
        margin-bottom: 2rem;
    }

     #header_logo img{
        height: 100px;
    }
}

.alphabets {
    color: #27180e;
    font-weight: 700;
    font-size: 13px;
}

.disabled {
    font-size: 13px;
    color: darkgrey;
    font-weight: 700;
}

.alphabets:hover, .alphabets:focus, .alphabets:active {
    color: #27180e;
}

.blink_div {
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    -o-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@-webkit-keyframes blink {
    0%, 49% {
        background-color: rgba(217, 205, 187, 0.5);
    }
    50%, 100% {
        background-color: rgb(217, 205, 187);
    }
}

@media (max-width: 431px) {
    button {
        font-size: 8px;
    }
}

.carousel-inner img {
    width: 100%;
    height: 100%
}

#product_carousel .carousel-indicators {
    position: static;
    margin-top: 2rem;
}

.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

#product_carousel .carousel-indicators > li {
    width: 150px;
    display: block;
    height: 100%;
    border: none;
    background: transparent;
}

#product_carousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;    
    border: none;
    background: transparent;    
}

#product_carousel .carousel-indicators li.active img {
    opacity: 1
}

#product_carousel .carousel-indicators li:hover img {
    opacity: 0.75
}
.img-thumbnail{
   /* height: 100%;*/
    object-fit: contain;
}
@media (min-width: 768px) {
    .w-md-100 {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .w-md-100 {
        width: 263px;
    }
    #product_carousel .carousel-indicators li img{
        object-fit: contain;
    }
}